@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS bổ sung để giao diện full màn hình */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Chặn cuộn trang ngoài ý muốn */
  background-color: #111827; /* Màu nền tối (gray-900) */
  color: white;
}